*{
    margin: 0;
    padding: 0;
}
#centerdiv{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#roll{
    margin-top: 7px;
    padding: 5px 15px;
    background-color: aquamarine;
    border-radius: 7px;
}

#mylable{
    margin-left: 7px;
    padding: 7px 15px;
}